[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
python-dotenv = "~=0.13"
psycopg2-binary = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
gunicorn = "*"
Flask-Cors = "*"
Flask-JWT-Extended = "*"
flask-restx = "*"
alembic = "*"
Flask-Migrate = "*"

[dev-packages]

[requires]
python_version = "3.8"
